@model WebApp.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Tile"] = "Create";
}


<h2>@ViewData["Create"]</h2>


<h4>Seller</h4>

<hr>

<div class="row">
    <div class="col-4">
        <form asp-action="Create" class="form-control">
            <div class="d-grid">
                <label asp-for="Seller.Name">Name</label>
                <input asp-for="Seller.Name">
            </div>
            <div class="d-grid">
                <label asp-for="Seller.Email">Email</label>
                <input asp-for="Seller.Email">
            </div>
            <div class="d-grid">
                <label asp-for="Seller.BirthDay">BirthDay</label>
                <input asp-for="Seller.BirthDay">
            </div>
            <div class="d-grid">
                <label asp-for="Seller.BaseSalary">BaseSalary</label>
                <input asp-for="Seller.BaseSalary">
            </div>
            <div class="d-grid">
                <label asp-for="Seller.DepartmentId"></label>
                <select asp-for="Seller.DepartmentId"
                    asp-items="@(new SelectList(Model.Departments, "Id" , "Name" ))"></select>
            </div>
            <div class="d-grid">
                <button class="btn bg-primary" style="margin-top: 1rem;">Create</button>
            </div>
        </form>
    </div>
</div>