@model WebApp.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>

<hr>

<div class="row">
    <div class="col-4">
        <form asp-action="Edit" class="form-control">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Seller.Id" />
            <div class="d-grid">
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
                <label asp-for="Seller.Name">Name</label>
                <input asp-for="Seller.Name">
            </div>
            <div class="d-grid">
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
                <label asp-for="Seller.Email">Email</label>
                <input asp-for="Seller.Email">
            </div>
            <div class="d-grid">
                <span asp-validation-for="Seller.BirthDay" class="text-danger"></span>
                <label asp-for="Seller.BirthDay">BirthDay</label>
                <input asp-for="Seller.BirthDay">
            </div>
            <div class="d-grid">
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
                <label asp-for="Seller.BaseSalary">BaseSalary</label>
                <input asp-for="Seller.BaseSalary">
            </div>
            <div class="d-grid">
                <label asp-for="Seller.DepartmentId"></label>
                <select asp-for="Seller.DepartmentId"
                    asp-items="@(new SelectList(Model.Departments, "Id" , "Name" ))"></select>
            </div>
            <div class="d-grid">
                <button class="btn bg-primary" style="margin-top: 1rem;">Save changes</button>
            </div>
        </form>
    </div>
</div>

@* used for validation on client side *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}